.about-page{
    margin: 30px;
    text-align: center;
}
p{
    color: gray;
}
.icon {
display: inline;
height: 50px;
width: 50px;
margin-bottom: -15px;
margin-left: 5px;
}
.photo {
    border-radius: 50%;
    height: 300px;
    width: 300px;
  }
  h2{
      color:#696969;
  }



.social {
    display: flex;
    justify-content: center;

}
.social-icon{
        padding: 10px;
        width: 70px;
        height: 70px;
        color:  #007a99;
}
