.collection-item {
  width: 24%;
  display: flex;
  flex-direction: column;
  height: 350px;
  align-items: center;

  .image {
    width: 100%;
    height: 95%;
    background-size: cover;
    background-position: center;
    margin-bottom: 5px;
  }

  .collection-footer {
    width: 100%;
    height: 5%;
    display: flex;
    justify-content: space-between;
    font-size: 18px;

    .name {
      width: 85%;
      margin-bottom: 15px;
    }

    .price {
      width: 15%;
      &::after{
       content:'TND';
       font-size:12px;
       color: red;
       font-family: 'Bebas Neue', cursive;
       letter-spacing: 1px;
      }
    }
  }
}

