.sign-in-sign-up{
    width:850px;
    display:flex;
    justify-content: center;
    margin: 10px auto;

    .sign-in{
        margin-right:100px;
    }
    .sign-up{
    //leaving it empty for future tuning
    }
}
