 
.header {
  height: 70px;
  width: 100%;
  display: flex;
  justify-content: space-between;
  margin-bottom:15px;


  .logo-container {
    height: 100%;
    width: 70px;
    padding: 25px;

    .logo{
        width:100px;
        height:80px;
        position:absolute;
        left:50px;
        top: 15px;;

    }
  }

  .options {
    width: 50%;
    height: 100%;
    display: flex;
    align-items: center;
    justify-content: right;

    .option {
      padding: 10px 15px;
      cursor: pointer;
    }
  }
}
