body{
    font-family: "Open Sans Condenced";
    font-weight: normal;
    padding: 20px 60px;
    color :rgb(50, 50, 50);
}
a{
    text-decoration: none;
    color:black;
}
*{
    box-sizing: border-box;
}
